
<div class="row">
  <div class="col-xs-12" style="z-index:10">
    <a  ng-href="#/phones" class="btn btn-primary pull-right">Back</a>
  </div>
  <div class="col-md-5">
    <img ng-src="{{mainImageUrl}}" alt="{{phone.name}}" />
    <ul style="display:inline-block;margin-top:10px" class="list-inline" ng-repeat="image in phone.images | limitTo:4">
      <li><a class="thumbnail"><img ng-src="{{image}}" alt="{{image}}" ng-click="setImage(image)" width="80" height="80"/></a></li>
    </ul>
  </div>
  <div class="col-md-7">
    <h2>{{phone.name}}</h2>

    <phone-features></phone-features>

</div>
<div class="col-md-12">
  <phone-features></phone-features>
</div>
